<?xml version="1.0"?>
<robot name="myfirst">
  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="other">
    <color rgba="1 0 0.8 1"/>
  </material>

  <link name="Base">
    <visual>
      <geometry>
        <box size="0.3 0.3 1"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.3 0.3 3"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="100"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>

  <link name="base2">
    <visual>
      <geometry>
        <box size="0.3 0.3 1"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.3 0.3 3"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="100"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>

  <joint name="base1_base2" type="fixed">
    <parent link="Base"/>
    <child link="base2"/>
    <origin rpy="0 1.57075 0" xyz=".65 0 -.35"/>
  </joint>

  <link name="base3">
    <visual>
      <geometry>
        <box size="0.3 0.3 1"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.3 0.3 3"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="100"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>

  <joint name="base2_base3" type="fixed">
    <parent link="base2"/>
    <child link="base3"/>
    <origin rpy="0 1.57075 0" xyz="-.35 0 .65"/>
  </joint>
  

  <link name="axis1">
    <visual>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.1 0.1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="100"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>

  <joint name="Base_axis1" type="fixed"> <!--Make revolute joint later-->
    <parent link="Base"/>
    <child link="axis1"/>
    <origin rpy="0 0 0" xyz=".1 .2 .45"/>
  </joint>

  <link name="arm1">
    <visual>
      <geometry>
        <box size="0.1 0.1 1"/>
      </geometry>
      <material name="other"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.1 0.1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="100"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>

  <joint name="axis1_arm1" type="fixed">
    <parent link="axis1"/>
    <child link="arm1"/>
    <origin rpy="0 0 0" xyz="0 0 .55"/>
  </joint>
  
  
</robot>