<?xml version="1.0"?>
<robot name="myfirst">
  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>
  <material name="other">
    <color rgba="1 0 0.8 1"/>
  </material>

  <link name="Base">
    <visual>
      <geometry>
        <box size="0.3 0.3 .8"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.3 0.3 .8"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="100"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>

  <link name="rail">
    <visual>
      <geometry>
        <cylinder length="5" radius="0.035"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <cylinder length="5" radius="0.035"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1"/>
      <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0"/>
    </inertial>
  </link>
  
  <joint name="Base_rail" type="fixed">
    <parent link="Base"/>
    <child link="rail"/>
    <origin rpy="0 -1.57075 0" xyz="2.65 0 .3"/>
  </joint>
  
  
  <link name="Base2">
    <visual>
      <geometry>
        <box size="0.3 0.3 .8"/>
      </geometry>
      <material name="white"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.3 0.3 .8"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="100"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="0" ixy="0.0" ixz="0.0" iyy="0" iyz="0.0" izz="0"/>
    </inertial>
  </link>
  
    <joint name="Rail_Base2" type="fixed">
    <parent link="rail"/>
    <child link="Base2"/>
    <origin rpy="0 -1.5707 0" xyz="-.3 0 -2.65"/>
  </joint>
  <!--  
  <joint name="Base_rail" type="fixed">
    <parent link="Base"/>
    <child link="rail"/>
    <origin rpy="0 -1.57075 0" xyz="2.5 0 .78"/>
  </joint>

  -->
</robot>